<!DOCTYPEhtml>

<html>
    <head>
        <title>
            Milk Log
        </title>
        
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        

    </head>
    <body>
        <div class="ui secondary pointing menu">
            <a class="active item" href="/">
                Home
            </a>
            <a class="item">
                Profile
            </a>
            <a class="item" href="/animals">
                Animals
            </a>
            <div class="right menu">
            <a class="ui item">
                Sign Up
            </a>
            <a class="ui item">
              Logout
            </a>
          </div>
        </div>


