<% include ../partials/header %>

<div class="ui container">
    <h1 class="ui center aligned header">Animals in Database</h1>
    <div class="info">
    <a href="/animals/new">Add New Animal</a>
    </div>
    
    <div class="ui three column stackable grid conatainer">
    
    <% animals.forEach(function(animal){ %>
    <div class="animal conatainer">
                <div class="column">
                    <a href="/animals/<%= animal._id %>" class="ui medium image">
                    <img id="animalImage" class="ui circular image" src="<%= animal.image %>">
                    </a>
                    <h2><%= animal.name %></h2>
                    <a class="infoLink" href="/animals/<%= animal._id %>">Details</a>
                </div>
    </div>
<% }); %>
    </div>

</div>

<% include ../partials/footer %>