<% include ../partials/header %>

    <div class="ui main text container segment">
        <div class="ui huge header">Create New Animal</div>
        <form class="ui form" action="/animals" method="POST">
            <div class="field">
                <label>Name</label>
                <input type="text" name="animal[name]" placeholder="name" required>
            </div>
            <div class="field">
                <label>Image</label>
                <input type="text" name="animal[image]" placeholder="image">
            </div>
            <div class="field">
                <label>Species</label>
                <select class="ui fluid selection dropdown" name="animal[variety]">
                    <option value="">Select Animal</option>
                    <option value="Cow">Cow</option>
                    <option value="Goat">Goat</option>
                    <option value="Sheep">Sheep</option>
                    <option value="Buffalo">Buffalo</option>
                    <option value="Camel">Camel</option>
                    <option value="Horse">Horse</option>
                    <option value="Donkey">Donkey</option>
                    <option value="Yak">Yak</option>
                    <option value="Reindeer">Reindeer</option>
                    <option value="Moose">Moose</option>
                </select>
            </div>
            <div class="field">
                <label>Date of Birth</label>
                <input type="date" name="animal[DOB]" placeholder="mm/dd/yyyy" required>
            </div>
            <input class="ui violet basic button big" type="submit">
        </form>
    </div>


    <% include ../partials/footer %>
