<% include ./partials/header %>

  <div id="banner" class="ui vertical masthead center aligned segment darken">

    <div class="ui text container">
      <h1 class="ui inverted header">
        Milk Log
      </h1>
      <h2 id="tagline">Keep track of milk production for individual animals on your farm.</h2>
      <div class="ui huge white button">Get Started </div>
    </div>
  </div>
  
  
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide computer sixteen wide tablet mobile column">
          <h3 class="ui header">We help famers keep track of milk production</h3>
          <p>This product is designed to help small farmers and hobbists keep track of milk production over time. Analyzing this data can help increase production and lower costs.</p>
          <h3 class="ui header">Constant Innovation</h3>
          <p>This is just the beginning. We are constantly working on adding new features and exploring ways to use data to make farmers lives easier. Look forward to new features and even more functionality!</p>
        </div>
        <div class="six wide computer sixteen wide mobile column">
          <img id="graphImage" src="https://images.unsplash.com/photo-1434626881859-194d67b2b86f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4442e0296756814fbec794f7574af0a3&auto=format&fit=crop&w=500&q=60" class="ui large rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">See an Example Log</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"This saves me time every day!"</h3>
          <p>- Joe Shmo</p>
        </div>
        <div class="column">
          <h3>"I've been able to increase milk production 10%."</h3>
          <p>
            <img src="https://images.unsplash.com/photo-1508865710520-b956002d73ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e94d1375a53bd2e6c8c98d361b13ae01&auto=format&fit=crop&w=500&q=60" class="ui avatar image"> <b>CEO</b> Julie Farmher - Udder Peace Creamery
          </p>
        </div>
      </div>
    </div>
  </div>

    <div class="ui vertical stripe quote segment">
        </div>
 


<% include ./partials/footer %>